<a routerLink="/home">Home</a>
<a routerLink="/contact">Contact Us</a>
<a routerLink="/about">About Us</a>

<router-outlet></router-outlet>

<label for="name">Name :</label>
<input type="text" name="name" #name="ngModel" ngModel required/>
<span *ngIf="name.touched && !name.valid" >Please enter name</span>
<br>

<label for="email">Email :</label>
<input type="email" #email="ngModel" ngModel email required/>
<span>Enter email address</span>
<br>

<label for="mobno">Mobile No :</label>
<input type="tel" #tel="ngModel" ngModel required/>
<span>Enter mobile number</span>
<br>

<button type="submit">Submit</button>